
.header-three .second-header {
    background: #2a2b2bc4;
    text-align: center;
}
.header-three .second-header {
    background: #fff;
}
.header-three .second-header {
    background: #0e264f;
}
.second-header {
    border: none;
    padding-bottom: 11px;
    background: #00173c;
    padding-top: 11px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.header-top {
    padding-top: 40px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
}